.communication {
  background-color: #eeeeef;
  padding: 6rem 0 6rem 0;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__heading {
    font-size: 1.8rem;
    position: relative;
    padding: 0 0 1rem 3rem;
    text-transform: uppercase;
    margin-bottom: 4.5rem;
    border-bottom: 2px solid #e2e3e4;
   }

  &__send {
    width: 50%;
  }

  &__edit {
    margin-left: 4rem;
    width: 50%;
  }

  &__heading-com1 {
    &:before {
      content: url(../images/paper_plane.png);
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0.1rem;
    }
  }

  &__heading-com2 {
    &:before {
      content: url(../images/pencil.png);
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0.1rem;
    }
  }

  &__text {
    margin-bottom: 4rem;
  }

  &__button {
    width: 10rem;
    height: 3.5rem;
  }

  @media screen and (max-width: $small-break-point) {
    padding: 2rem 0 2rem 0;

    &__container {
      flex-direction: column;
    }

    &__send,
    &__edit {
      margin: 0 auto;
      text-align: center;
    }

    &__text {
      margin-bottom: 1rem;
    }

    &__button {
      width: 100%;
      margin-bottom: 2rem;
    }

    &__heading {
      margin: 2rem 0 2rem 0;
    }

    &__heading-com1 {
      &:before {
        content: url(../images/paper_plane.png);
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0.1rem;
      }
    }

    &__heading-com2 {
      &:before {
        content: url(../images/pencil.png);
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0.1rem;
      }
    }

    &__heading,
    &__text,
    &__button {
      font-size: 2rem;
    }
  }
}
