.our-clients {
  background-color: #50c3af;
  padding: 6rem 0 7rem 0;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  &__heading {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    position: relative;
    padding: 0 0 1rem 3rem;
    text-transform: uppercase;
    border-bottom: 3px solid rgba(255 ,255 ,255 ,0.2);
    margin-bottom: 6.5rem;


    &:before {
      content: url(../images/star.png);
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0.1rem;
    }

    &:after {
      content: " ";
      display: block;
      position: absolute;
      left: 0;
      top: 2rem;
      width: 22rem;
      height: 0.2rem;

      margin-top: 1rem;
    }
  }

  &__list {
    display: flex;
    align-items: baseline;
  }

  &__list-item {
    margin: 0 1.9rem 5rem 1.9rem;
    font-size: 2.6rem;
    color: #fff;
    opacity: 0.6;

    &:nth-child(1) {
      font-family: "Belinda", serif;
    }

    &:nth-child(2) {
      font-family: "NexaRegular", sans-serif;
      font-weight: 200;
    }

    &:nth-child(3) {
      font-family: "Cabin", sans-serif;
    }

    &:nth-child(4) {
      font-family: "NexaHeavy", serif;
    }
  }

  @media screen and (max-width: $small-break-point) {
    padding: 3rem 0 1rem 0;

    &__list {
      display: flex;
      flex-direction: column;
    }

    &__heading {
      margin-bottom: 2rem;
      font-size: 2rem;
    }

    &__list-item {
      margin-bottom: 2rem;
    }
  }
}
