.support-template {
  background: #eeeeef;
  padding: 6.7rem 0 6.7rem 0;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    font-size: 1.8rem;
    position: relative;
    padding-left: 3rem;
    text-transform: uppercase;

    &:before {
      content: url(../images/life-ring.png);
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0.1rem;
    }

    &:after {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 2rem;
      width: 40rem;
      height: 0.2rem;
      opacity: 0.06;
      background: #000;
      margin-top: 1rem;
    }
  }

  &__text {
    margin: 2.8rem 0 3.8rem 0;
  }

  &__button {
    width: 10rem;
    height: 3.5rem;
    border: none;
    border-radius: 25px;
    background: #dddfe2;
    font-family: "PT Sans", serif;
    color: #fff;
    outline: none;
  }

  @media screen and (max-width: $small-break-point) {
    padding: 0;

    &__heading,
    &__text,
    button {
      font-size: 2rem;
      margin: 1rem auto 1rem auto;
    }

    &__heading {
      &:after {
        display: none;
      }
    }

    &__text {
      width: 50%;
      text-align: center;
    }

    &__button {
      width: 50%;
    }
  }
}
