.templates {
  background-color: #f5f5f5;
  padding: 6.5rem 0 7.6rem 0;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__article {
    display: inline-block;
    text-align: left;
    max-width: 26rem;
  }

  &__heading {
    margin-top: 4.2rem;
    font-size: 1.8rem;
    text-transform: uppercase;

    &:after {
      content: " ";
      display: inline-block;
      width: 26rem;
      height: 0.3rem;
      opacity: 0.06;
      background: #000;
    }
  }

  &__text {
    margin: 2.6rem 0 3.5rem 0;
  }

  &__button {
    width: 10rem;
    height: 3.5rem;
  }

  @media screen and (max-width: $small-break-point) {
    padding: 3rem 0 0 0;

    &__container {
      flex-direction: column;
      width: 100%;
    }

    &__article {
      text-align: center;
      margin: 0 auto;
    }

    &__heading,
    &__text {
      margin: 1rem 0 1rem 0;
      font-size: 2rem;
    }

    &__button {
      margin-bottom: 4rem;
      width: 100%;
      font-size: 2rem;
    }
  }
}
